@import "mixins";

@include keyframes(blink-out) {
  0% { opacity: 1; }

  5% { opacity: 1; }
  6.3% { opacity: 0.3; }
  7% { opacity: 1; }

  30% { opacity: 1; }
  31.3% { opacity: 0.3; }
  32% { opacity: 1; }
  35% { opacity: 1; }
  36.3% { opacity: 0.3; }
  37% { opacity: .85; }

  46% { opacity: .85; }
  50% { opacity: .77; }
  54% { opacity: .85; }
  58% { opacity: .77; }
  62% { opacity: .85; }
  66% { opacity: .77; }

  70% { opacity: 1; }
  70.5% { opacity: 0.2; }
  100% { opacity: 0; }
}

@include keyframes(fade-off) {
  0% { opacity: 1; }
  2% { opacity: .3; }
  100% { opacity: 0; }
}

.blink-out {
  @include animation(blink-out 4000ms 500ms both);
}
.fade-off {
  @include animation(fade-off 1000ms both);
}